.phrase-item {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.phrase-item__left {
  width: 60px;
  margin-bottom: auto;
}

.phrase-item__right {
  width: 100%;
}

.phrase-item__person {
  background-color: #dae7ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phrase-item__content-time {
  display: inline-block;
  font-size: 14px;
  color: #9da9b8;
  margin-bottom: 12px;
}
